@model AspNetCoreMvc2.Introduction.DataSource.Models.EmployeeAddNewModel;



<!--Yukarıda referans eklenmiş olması gerekli-->
<form asp-controller="Employee" asp-action="Add">
    <label asp-for="Employee.Id"></label><input asp-for="Employee.Id" /><br />
    <label asp-for="Employee.Name"></label><input asp-for="Employee.Name" /><br />
    <label asp-for="Employee.LastName"></label><input asp-for="Employee.LastName" /><br />
    <label asp-for="Employee.CityId"></label><select asp-for="Employee.CityId" asp-items="Model.Cities"></select>
    <button type="submit">Save </button>
</form>
<br />
<br />
<br />
<employee-list count="2"></employee-list>
@section MySection{
    <b>Some Content</b>
 }