
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
    <a class="btn btn-danger" href="www.google.com">Google</a>


    <br />
    <div>
        @await Component.InvokeAsync("ParameterList");
    </div>
        <br />
    @*<div>
        @await Component.InvokeAsync("ParameterList", new { Filter = "email" });
    </div>*@
</body>
</html>
