
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <div id="app">
        <contact-component></contact-component>
    </div>
    @section scripts{
        <scrip src="@Url.Content("~/bundle/home.js")">    </scrip>
    }
</head>
<body>
</body>
</html>
