
@{
    Exception exception = ViewData["HandleException"] as Exception;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>Divede By Zero Exception</h1>
    <h1>@exception.Message</h1>
    <h2>@exception.Source</h2>
    <h3>@exception.StackTrace</h3>
</body>
</html>
